.petImg {
  width: 210px;
  height: 210px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.roomImg {
  width: 320px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input {
  margin: 3px;
  width: 150px;
}
form {
  text-align: center;
  justify-content: center;
}
.update-form {
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}
.button {
  width: 100px;
}

.room-button {
  width: 200px;
  transform: translateY(-6px);
}

.pet-link:link {
  color: black;
  text-decoration: none;
}
.pet-link:visited {
  color: black;
  text-decoration: none;
}
.pet-link:hover {
  color: #3b6064;
  text-decoration: none;
}

.pet-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 10px;
}

.update-button {
  transform: translateY(10px);
}
